.page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;

    .title {
        font-family: 'Press Start 2P', cursive;
        background: linear-gradient(90deg, #ff4da6, #ff79c6, #b967ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  
        &:hover {
          transform: scale(1.3);
        }
    }

    a {
        margin-left: 7px;
        margin-right: 7px;
        text-decoration: none;
        color: #ff79c6; // Cor inicial (rosa claro)
        font-weight: normal;
        transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;

        &:hover {
            color: #b967ff; // Cor ao passar o mouse (roxo claro)
            transform: scale(1.1); // Efeito de crescimento leve
        }
    }
}